.artists-video-background {
    width: -webkit-fill-available;
    height: 474px;
    flex-shrink: 0;
    background: #000;
    /* box-shadow: 4px 4px 4px 4px #a60cff; */
  }
  
  .artists-timeline-background {
    width: -webkit-fill-available;
    height: 600px;
    flex-shrink: 0;
    background: #555555;
    /* box-shadow: 4px 4px 4px 4px #a60cff; */
  }