.shop-video-background {
    width: -webkit-fill-available;
    height: 474px;
    flex-shrink: 0;
    background: url(../../static/shopVideo.gif);
    background-size: cover;
    background-position: center;
    object-fit: cover;
      /* box-shadow: 4px 4px 4px 4px #a60cff; */
  }

  .shop-timeline-background {
    width: -webkit-fill-available;
    height: 300px;
    flex-shrink: 0;
    background-image: linear-gradient(50deg, #190625, #390061, #190625); 
    /* box-shadow: 4px 4px 4px 4px #a60cff; */
  }

  .shop-section-background {
    width: -webkit-fill-available;
    height: 1100px;
    flex-shrink: 0;
    background-image: linear-gradient(90deg, #000, #4e0b79, #000); 
    /* box-shadow: 4px 4px 4px 4px #a60cff; */
  }

  .album-cart-background {
    height: auto;
    background: #1c1c1c;
    border-radius: 6%;
    box-shadow: 
    2px 2px 4px -1px rgba(0, 0, 0, 0.2), 
    2px 4px 5px 0px rgba(0, 0, 0, 0.14), 
    2px 1px 10px 0px rgba(0, 0, 0, 0.12); ;
  }


.shop-title {
    color: #fff;
    font-size: 40px;
    font-family: '?????';
}

.shop-title2 {
    color: #fff;
    font-size: 35px;
    font-family: '?????';
}

.shop-title3 {
    color: #fff;
    font-size: 20px;
    font-family: '?????';
}

.theme--light.v-btn.v-btn--has-bg {
  background-color: #494444 !important;
}

.shop-scroller-x {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 77%;
    overflow-x:auto;
    }
  
    .shop-max-height2 {
      max-height: 230px;
      overflow-y: auto;
    }

.theme--light.v-label {
  color: rgba(255, 255, 255, 0.6) !important;
}

.theme--dark.v-navigation-drawer {
  background: url(../../static/background6.gif);
  background-size: cover;
}

.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  background: #2e2c2c;
}