.events-video-background {
    width: -webkit-fill-available;
    height: 474px;
    flex-shrink: 0;
    background: #000;
    /* box-shadow: 4px 4px 4px 4px #a60cff; */
  }

.events-timeline-background {
    width: -webkit-fill-available;
    height: 600px;
    flex-shrink: 0;
    background: #303030;
    /* box-shadow: 4px 4px 4px 4px #a60cff; */
  }
 
.events-showcase-background {
    width: -webkit-fill-available;
    height: 2000px;
    flex-shrink: 0;
    background: #000000;
    /* box-shadow: 4px 4px 4px 4px #a60cff; */
}

  .events-title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: '?????';
}

.events-title2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-family: '?????';
}

.max-height {
    max-height: 500px;
    overflow-y: auto;
  }